$crimson: 'Crimson Text', serif;
$open: 'Open Sans', sans-serif;
$primary-color: blue;
$turquoise: #00E0A6;
$rose: #FF638F;


*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

}

#container {
  position: relative;
}

.burger{
	display: none;	    
    position: absolute;
    color: white;
    background-color: $turquoise;
    height: 60px;
    width: 60px;
    z-index: 4;
    font-size: 3.5rem;
    left: 4.5vw;
    top: 4.5vw;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    font-weight: normal;
    font-style: none;
}

#sidebar{
	width: 350px;
	// min-width: 275px;
	height: 100vh;
	background-color: pink;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;	

	nav{
		width: 100%;
		height: 100%;
		background-color: $turquoise;
		position: relative;			
	}

	.content{
		padding: 50px 50px 50px 50px;
		line-height: 1.25rem;
		font-size: 1rem;
		color: white;

		header, section, .contact, .follow{
			padding-bottom: 20px;
		}



		header{
			img{
				width: 33.3%;
				min-width: 40px;
				max-width: 70px;
				display: inline-block;
				text-align: left;
				
			}
			h1{
				font-family: $crimson;
				font-weight: 700;
				font-style: italic;
				font-size: 2.25rem;
				margin-bottom: 10px;
				margin-top: 20px;
				// line-height: 3rem;
				// margin-left: 4vw;
			}
			h2{
				font-family: $open;
				font-weight: 700;
				font-weight: 300;
				text-transform: uppercase;
				font-size: 1rem;
			}
			
		}

		// header{
		// 	img{
		// 		width: 3vw;
		// 		float: left;
		// 	}
		// 	h1{
		// 		font-family: $crimson;
		// 		font-weight: 700;
		// 		font-style: italic;
		// 		font-size: 2rem;
		// 		/* margin-bottom: 4vh; */
		// 		line-height: 3rem;
		// 		margin-left: 4vw;
		// 	}
		// 	h2{
		// 		font-family: $open;
		// 		font-weight: 700;
		// 		clear: both;
		// 	}
			
		// }

		section{
			p{
				font-family: $open;
				font-weight: 400;
			}
			
		}

		footer{
			h1{
				font-weight: 700;
				font-family: $crimson;
				font-style: italic;
				font-size: 1.25rem;
				margin-bottom: 5px;
			}
			p{
				font-family: $open;
				font-weight: 400;
			}
		}
	}

	.follow{
		
		padding-top: 5px;		

		li{
			display: inline-block;
			opacity: 1;
			-webkit-transition: opacity .15s ease-out;
			   -moz-transition: opacity .15s ease-out;
			    -ms-transition: opacity .15s ease-out;
			     -o-transition: opacity .15s ease-out;
			        transition: opacity .15s ease-out;
			&:hover{
				opacity: 0.7;
				-webkit-transition: opacity .30s ease-in;
				   -moz-transition: opacity .30s ease-in;
				    -ms-transition: opacity .30s ease-in;
				     -o-transition: opacity .30s ease-in;
				        transition: opacity .30s ease-in;
			}
		}

		img{
			height: 32px;
			min-height: 24px;
		}
		
	}

	.wave{
		position: absolute;		
		background: rgba(200,255,255,0.0) url('../img/wave.svg') 0 0 repeat-y;
		background-size: 100%;
		top: 0;
		right: -2vw;
		z-index: 1;
		width: 2vw;
		height: 100vh;
	}

}

main{
	width: 75vw;
	height: 100vh;
	background-color: lightcoral;
	// margin-left: 20vw;
	position: absolute;

	top: 0;
	right: 0;

}


.slider-text{
	h1{
		text-transform: uppercase;
		font-family: $open;
		font-weight: 700;
		font-size: 2rem;
		margin-bottom: 5px;
		color: $rose;
	}

	.tags{
		
		font-size: 0.8rem;
		font-family: $open;
		margin-bottom: 20px;
	}
	p{
		font-family: $crimson;
		font-style: italic;
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.5rem;
	}
}

.animated-tip{
		display: none;		
	}

.more{
	text-decoration: none;
	color: black;
	display: block;
	opacity: 1;
	-webkit-transition: opacity .15s ease-in;
	   -moz-transition: opacity .15s ease-in;
	    -ms-transition: opacity .15s ease-in;
	     -o-transition: opacity .15s ease-in;
	        transition: opacity .15s ease-in;
	img{
		width: 22px;
		min-width: 15px;
		display: inline-block;
		vertical-align: middle;
	}

	p{
			
		display: inline-block;
		vertical-align: middle;	
		font-size: 0.8rem;
		font-family: $open;
		
	}
	&:hover{
		opacity: 0.7;
  			-webkit-transition: opacity .30s ease-in;
  			   -moz-transition: opacity .30s ease-in;
  			    -ms-transition: opacity .30s ease-in;
  			     -o-transition: opacity .30s ease-in;
  			        transition: opacity .30s ease-in;
	}
		
	
}

.layer3 {
  // position: relative;
  // bottom: 0;
  // right: 0;
  // width: 100vw;
  // background-color: rgba(255,200,255,0.9);
  // height: 100vh;
  // overflow: hidden;
  // z-index: 2;

  footer{
  	position: absolute;
  	z-index: 2;
  	bottom: 4vh;
  	right: 30vw;
  	background-color: transparent;
  	button{
  		border-radius: 10vw;
  		background-color: #BBFFF4;
  		margin: 0 0.5vw 0 0.5vw;
  		min-height: 30px;
  		min-width: 30px;
  		min-height: 4vw;
  		min-width: 4vw;
  		border: none;
  		color: white;
  		font-size: 2rem;
  		font-weight: 300;
  		font-family: $open;
  		cursor: pointer;
  		opacity: 1;
  		&:hover{
  			opacity: 0.7;
  			-webkit-transition: opacity .25s ease-in;
  			   -moz-transition: opacity .25s ease-in;
  			    -ms-transition: opacity .25s ease-in;
  			     -o-transition: opacity .25s ease-in;
  			        transition: opacity .25s ease-in;
  		}
   	}
  }

  .cv-div{
  	position: absolute;
  	z-index: 2;
  	top: 4.5vw;
  	right: 4.5vw;
  	background-color: transparent;

  }
}

.bullet{
	position: absolute;
	z-index: 2;
	bottom: 53vh;
	right: 18vw;
	background-color: transparent;

	li{
		display: inline-block;
		border-radius: 100%;
		height: 10px;
		width: 10px;
		min-height: 7.5px;
		min-width: 7.5px;
		border: 1px solid white;
		margin: 0 1vw 0 1vw;
		cursor: pointer;
		-webkit-transition: transform .25s ease-in, background-color .25s ease-in;
		   -moz-transition: transform .25s ease-in, background-color .25s ease-in;
		    -ms-transition: transform .25s ease-in, background-color .25s ease-in;
		     -o-transition: transform .25s ease-in, background-color .25s ease-in;
		        transition: transform .25s ease-in, background-color .25s ease-in;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
		        &:hover{
		        	background-color: white;
		        	border-radius: 100%;
		        	-webkit-transform: scale(1.5);
		        	   -moz-transform: scale(1.5);
		        	    -ms-transform: scale(1.5);
		        	     -o-transform: scale(1.5);
		        	        transform: scale(1.5);
		        }
	}
	li.active{

			background-color: white;
			border-radius: 100%;
			-webkit-transform: scale(1.5);
			   -moz-transform: scale(1.5);
			    -ms-transform: scale(1.5);
			     -o-transform: scale(1.5);
			        transform: scale(1.5);

	}
}

.cv{
	display: block;
	text-align: center;
	text-decoration: none;
	min-width: 60px;
	height: 5.5vw;
	width: 5.5vw;
	// min-width: 60px;
	// min-height: 60px;
	// background-color: $rose;
	// border-radius: 50%;
	// border: none;
	// color: white;
	// font-size: 2rem;
	// line-height: 5.5vw;
	// font-family: $open;
	// font-weight: 300;
	cursor: pointer;
	// opacity: 1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: transform .15s ease-out;
	   -moz-transition: transform .15s ease-out;
	    -ms-transition: transform .15s ease-out;
	     -o-transition: transform .15s ease-out;
	        transition: transform .15s ease-out;
	img{
		width: 100%;
	}
	&:hover{
		// opacity: 0.7;
		-webkit-transform: scale(1.2);
		   -moz-transform: scale(1.2);
		    -ms-transform: scale(1.2);
		     -o-transform: scale(1.2);
		        transform: scale(1.2);
		-webkit-transition: transform .30s ease-in;
		   -moz-transition: transform .30s ease-in;
		    -ms-transition: transform .30s ease-in;
		     -o-transition: transform .30s ease-in;
		        transition: transform .30s ease-in;
	}
}


/*
*
* MEDIA QUERY
*
*/

@import 'mediaqueries';

